html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a, nav, h1 {
    color: white;
}

header {
    background-color: #1d2540;
    padding: 20px;
    margin: 0px;
}

 .domain-store {
     min-height: 400px; 
 }

 footer {
     padding: 50px;
     float: left;
 }